<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>SendBarrage</servlet-name>
        <servlet-class>com.business.noDatabaseVersion.SendBarrage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBarrage</servlet-name>
        <servlet-class>com.business.noDatabaseVersion.GetBarrage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SendBarrage</servlet-name>
        <url-pattern>/sendBarrage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBarrage</servlet-name>
        <url-pattern>/getBarrage</url-pattern>
    </servlet-mapping>
    <!--<servlet>
        <servlet-name>GetBarrage</servlet-name>
        <servlet-class>com.business.GetBarrage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendBarrage</servlet-name>
        <servlet-class>com.business.SendBarrage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendBarrage</servlet-name>
        <url-pattern>/sendBarrage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBarrage</servlet-name>
        <url-pattern>/getBarrage</url-pattern>
    </servlet-mapping>-->
    <welcome-file-list>
        <welcome-file>../index.jsp</welcome-file>
    </welcome-file-list>
</web-app>